.Wdate {
	border: #999 1px solid;
	height: 20px;
	background: #fff url(datePicker.gif) no-repeat right;
}

.Wdate::-ms-clear {
	display: none;
}

.WdateFmtErr {
	font-weight: bold;
	color: red;
}

#resetPass{
	margin-bottom:1px;
}

#Unbundling{
	margin-bottom:1px;
}